main{

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu{
    margin-left: 5%;
    width: 50%;
    flex-direction: column;
}
.favourites-books{
}
.favourite-books-content{
    width: 70%;
    background: white;
    padding: 10px 9px;
}
.books-content-book{
    justify-content: space-between;
    align-items: center;
    padding-right: 9px;
    padding-left: 9px;
    height: 30px;
    margin-bottom: 3px;
    cursor: pointer;
}
.p-heading{
    font-weight: 700;
    font-size: 2.4vw;
    line-height: 60px;
    margin: 10px 0;
}
.p-name-book{
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 22px;
}
.book__input{
    font-weight: 900;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    align-items: center;
    gap: 5px;
}
.book__input-func{
    border: 2px solid #000000;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.dropzone{
    text-align: center;
    background: #F1F0F0;
    border: 1px dashed #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 5px 0;
}

.list-books{
}
.list-books-content{
    width: 70%;
    background: white;
    padding: 10px 9px;
}

.upload-books-content{
    width: 70%;
    background: white;
    padding: 10px 9px;
    flex-direction: column;
}
.upload-book__label{
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
}
.upload-book__input-book{
    margin-bottom: 5px;
    border: 2px solid #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}
.upload-book__textarea{
    margin-bottom: 5px;
    border: 2px solid #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    height: 70px;
}


.reading{
    background: #E5E5E5;
    border: 10px solid #F0F0F0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), inset 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    width: 45%;
}
.reading__h{
    text-indent: 50px;
}
.reading__book-content{
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    text-align: justify;
}
